{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="container">
    <div class="">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4">
        <div class="card position-absolute top-50 start-50 translate-middle w-25">
          <div class="card-body">
            <h3 class="card-title text-center">Login</h3>
            <form class="needs-validation" novalidate>
              <div class="mb-3">
                <label htmlFor="username" class="form-label">
                  User Name
                </label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" required name="username" />
                <div class="invalid-feedback">

                  User Name Cannot be empty
                </div>
              </div>
              <div class="mb-3">
                <label htmlFor="password" class="form-label">
                  Password
                </label>
                <input type="password" class="form-control" id="password" placeholder="Password" required name="password"
                  minLength="8" />
                <div
                    class="invalid-feedback">
                  Password should have at least 8 characters
                </div>


              </div>
              <div class="mb-3">
                  <button type="submit" class="btn btn-primary w-100">

                  Login
                </button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
